:root {
  --light-bg: rgb(210, 210, 210);
  --dark-bg: rgb(60, 60, 60);
  --nav-bg: rgb(245, 245, 245);
  --color-bg: rgb(240, 248, 255);
  --red-bg: rgb(255, 0, 0);
  --hint-bg: rgb(0, 128, 0);
  --black-bg: rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  opacity: 0.75;
}

button:hover {
  opacity: 0.85;
}

button:active {
  opacity: 1;
}

#copy-color-btn {
  display: none;
}

.nav-btn {
  transform: translateY(-2px);
}
